/* ---------------------------------------------------
	SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
	min-height: 100vh; 
}

.navbar {
	width: 100%;
	background-color: rgb(107, 69, 188); 
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
	position: fixed; 
	top: 0;
	z-index: 1000; 
	height: 60px; 
}

.navbar a {
	color: #fff;
	text-decoration: none;
	padding: 10px;

}

.navbar a:hover {
	background-color: #8750fc;
	color: #fff;
	border-radius: 5px;
}

.navbar .toggle-btn {
	font-size: 1.5rem;
	cursor: pointer;
	color: #fff;
}

/* Sidebar ajustes */
#sidebar {
	width: 250px;
	background-color: rgb(107, 69, 188) !important; 
	color: #fff;
	display: flex;
	flex-direction: column; 
	transition: all 0.3s;
	height: calc(100vh - 0px); 
	position: fixed; 
	left: 0;
}

#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 20px;
	background-color: #6b45bc !important; 
	text-align: center;
}

#sidebar ul.components {
	flex-grow: 1;
	padding: 20px 0;
	margin: 0;
	background-color: #6b45bc !important;
	list-style: none;
}

#sidebar ul.components li {
	padding: 10px 15px;
}

#sidebar ul.components li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px;
	font-size: 1.1em;
	
}

.btnLogout{
	margin-top: 25px;
	text-align: center;
}

#sidebar ul.components li a:hover {
	background: #8750fc;
	color: #fff;
}

/* ---------------------------------------------------
	CONTENT STYLE
----------------------------------------------------- */

#content {
	flex-grow: 1; 
	padding: 20px;
	padding-top: 80px; 
	margin-left: 250px; 
	background-color: #ffffff; 
	min-height: 100vh; 
	transition: margin-left 0.3s; 
}

#sidebar.active + #content {
	margin-left: 0; 
}

/* ---------------------------------------------------
	MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse span {
		display: none;
	}
	#content {
		margin-left: 0; 
	}
}
